{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<section>
    <h2>
        {% if post.url %} <!--if the post is a link then have the title link to the url-->
            <a href="{{ post.url}}">{{ post.title }}</a>
        {% else %} <!--otherwise, if the post is a question then have the title link to the post-detail page-->
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        {% endif %}
    </h2>
    <p>posted by <a href="{% url 'submitter_detail' pk=post.poster_id %}">{{ post.poster }}</a></p>
    <h4>Description:</h4>
    <p>{{post.description}}</p>
    <span>
        {% if request.user.is_authenticated %}
            <form class="button_inline" action="{% url 'post_vote' post_pk=post.pk %}" method="POST">
            <!--https://developer.mozilla.org/en-US/docs/Web/HTML/Element/form-->
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
                <!--https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input-->
            {% if post in request.user.submitter.voted_posts.all %}
                <!--'voted_posts' is the related name of the 'voted_by' field of the 'post' model-->
                <!--request.user.favorite_books.all-->
                <button class="unvote_button" type="submit">Unvote this post</button>
            {% else %}
                <button class="vote_button" type="submit">Vote this post</button>
            {% endif %}
            </form>
        {% endif %}          
    </span>
    <span class="post_info">Voted {{ post.votes.count }} time(s) | </span>
    <span class="post_info">Commented {{ post.comment_set.count }} time(s) | </span>
        <!--click on comments count to get to post-detail page-->
    <span class="post_info">added {{ post.date_added }}</span>  
    <h4>Comments:</h4>
    <section>
        {% for comment in post.comment_set.all %}
            <hr>
            <p>{{comment.commenter}} ({{comment.commented_at}}) - {{comment.text}}</p>
        {% endfor %}
            <hr>
        {% if user.is_authenticated %}
            <a href="{% url 'post_comment' post.slug %}">Add a new comment</a></p>
        {% else %}
            <p><a href="{% url 'auth_login'%}?next={{request.path}}">Login</a> to add a new comment</p>
            {% endif %}
    </section>
            
</section>
{% endblock %}