{% extends "base.html" %}

{% load staticfiles %}

{% block title %}<h1>{{ submitter.id }}</h1>{% endblock %}

{% block content%}
<h2>Activity by {{ submitter }} </h2>

<ul>
    {% for post in submitter.post_set.all %}

    <li> 
        <a href="{{ post.url}}"><b>{{ post.title }}</b></a>
        <p>added {{ post.date_added }}</p>

        <ul >
            {% for comment in post.comment_set.all %}
            <li>{{ comment.commented_at }} | {{ comment.text }}</li>
            {% endfor %}
        </ul>  


    </li>
    {% endfor %}
</ul>

{% endblock content %}
