{% extends "base.html" %}

{% load staticfiles %}

{% block title %}<h1>{{ submitter.id }}</h1>{% endblock %}

{% block content%}
<h2>Activity by {{ submitter }} </h2>

<ul>
    {% for post in submitter.post_set.all %}

    <li> 
        {% if post.url %} <!--if the post is a link then have the title link to the url-->
            <a href="{{ post.url}}"><b>{{ post.title }}</b></a>
        {% else %} <!--otherwise, if the post is a question then have the title link to the post-detail page-->
            <a href="{{ post.get_absolute_url }}"><b>{{ post.title }}</b></a>
        {% endif %}
        
        <p>added {{ post.date_added }}</p>

        <ul >
            {% for comment in post.comment_set.all %}
            <li>{{ comment.commented_at }} | {{ comment.text }}</li>
            {% endfor %}
        </ul>  


    </li>
    {% endfor %}
</ul>

{% endblock content %}
